# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      # uses: stCarolas/setup-maven@7060d72b50fbf2389a16d6f66a9c7d4d9ece5d36
   # - uses: stCarolas/setup-maven@v4.2
      #Execute test
       # - name: Clean output folder
       # run: mvn clean
      with:
        java-version: 1.8
    - uses: nanasess/setup-chromedriver@master
      with:
    # Optional: do not specify to match Chrome's version
        chromedriver-version: '88.0.4324.96'
    - run: |
        export DISPLAY=:99
        chromedriver --url-base=/wd/hub &
        sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 & # optional

   
    
    - name:  Install Google Chrome 
      run:   |
              chmod +x ./scripts/InstallChrome.sh
                          ./scripts/InstallChrome.sh 
    - name: Test with Maven
      run: mvn -B package --file pom.xml test
    - uses: actions/checkout@v2      
    #- name: Test with Java
     # run: --file AppTest.java
      
      
      
    #steps:

    #- uses: actions/checkout@v2
   # - name: Set up JDK 1.8
    #  uses: actions/setup-java@v1
     # with:
      #  java-version: 1.8
       # server-id: github 
        # settings-path: ${{ github.workspace }} 
    # - name:  Install Google Chrome 
      # run:   |
        #      chmod +x ./scripts/InstallChrome.sh
         #                 ./scripts/InstallChrome.sh 
    # - name: Build with Maven
      # run: mvn -B package --file pom.xml test
